*
  margin: 0
  padding: 0

a
  text-decoration: none
p
  color: #fff
h1
  text-align: center
  font-weight: normal
  font-size: 2.5rem
h2
  text-align: center
  font-weight: normal
  font-size: 2rem
h4
  text-align: center
  font-weight: normal
  font-size: 1rem
.app
  width: 100%
  color: #373a3c
  background-color: #f0f0f0
.butn
  display: inline-block
  padding: .375rem 1rem
  font-size: 1rem
  line-height: 1.5
  cursor: pointer
  border: 1px solid transparent

.butn-t
  color: #fff
  background-color: #e51655
  border-radius: 2rem
  width: 150px
  border-color: #e51655
  outline: none
.butn-t:hover
  box-shadow: 3px 3px 10px #373a3c
  transition: all .3s linear
.emty
  width: 100%
  height: 85px





