.ttop
  margin: 40px auto
  color: #395348
.tall
  width: 80%
  height: 80%
  margin: 0 6% 0 14%
.hthr
  width: 100%
  height: 460px
.thr1
  float: left
  background-color: #fff  
  width: 20%
  height: 95%
  display: block
  margin: 0 15px
  border-radius: 3px
.hre-img
  width: 90%
  margin: 0 5%
.text-4
  margin: 20px auto
  font-size: 1.2em
  color: #3b5348
.text-5
  margin: 50px 20px
  text-align: center
  color: rgba(73,101,96,.73)
  font-size: 12px
  

@media (max-width: 800px)
  h2
    font-size: 27px
  .hthr
    width: 100%
    height: 1000px
  .thr1
    width: 90%
    height: 22%
    margin: 5px 0
  .hre-img
    float: left
    width: 29%
    margin: 3% 5%
  .text-4
    float: left
    display: block
    width: 40%
    margin: 5% 10%
  .text-5
    float: left
    display: block
    width: 30%
    margin: 5% 15%


@media (max-width: 600px)
  .thr1
    width: 80%
    height: 20%