.cont-end
  width: 100%
  background-color: #fff
.contat
  width: 95%
  height: 600px
  margin: 0 auto auto 5%
  
.con-P
  position: absolute
  height: 414px
  margin: 2% 18%
.con-T
  position: absolute
  margin: 70px 60px
  width: 720px 
  height: 250px
  display: block
  text-indent: 1cm
  line-height: 50px
  font-size: 1.25rem
.people
  height: 400px
  float: right
  padding-top: 200px