.htwo
  width: 100%
  height: 330px
  padding-top: 200px
  background-color: #52d69d
.two-l
  float: left
  width: 25%   
.bala-img
  width: 55%
  display: block
  margin: 0 20% 0 80%
.two-r
  padding-left: 10%
  float: left
  width: 65%
  height: 100%
  align: center
.text-1
  color: #fff
  font-size: 2.5rem
  text-align: center
  
.text-2
  padding-top: 50px
  text-align: center
.text-3
  padding-top: 30px
  text-align: center  




@media (max-width: 600px)
  .bala-img
    display: none
    width: 0
  .text-1
    font-size: 2rem
  .text-2
    padding-top: 30px
  .text-3
    padding-top: 20px