.footer
  bottom: 0
  width: 100%
  height: 300px
  background-color: #52d69d
.sev1
  float: left
  width: 50%
  margin: 50px 40px
.contact-box
  width: 75%
  height: 21px
  margin-left: 100px
  padding-top: 25px
.con-text
  font-size: 15px
  height: 100%
.sev3
  float: left
  margin: 50px 75px
.sev4
  width: 150px
  height: 150px
  border-radius: .3rem
  border: 3px solid #fff
.sev5
  font-size: 20px
  height: 30px
  text-align: center
  padding-top: 15px