.hfou
  width: 100%
  height: 600px
  background-color: #52d69d
.four1
  color: #fff 
  padding-top: 120px
  font-size: 2.5rem
.four-add
  width: 90%
  margin: 0 5%
.four2
  width: 100%
  height: 70%
.text-6
  float: left
  width: 27%
  height: 90%
  margin: 10px 3%
  text-align: center
.fou-img
  padding-top: 100px
  height: 100px
  display: block
  margin: 0 auto
.bt-g
  margin: 50px auto
.fou-img1,.ftext-add
  display: none


@media (max-width: 600px)
  .hfou
    background-color: transparent
  .four1
    color: #52d69d
    padding-top: 0
  h1
    font-size: 2rem
  .fou-img,.bt-g
    display: none
  .text-6
    height: 75%
    padding-top: 50px
  .fou-img1
    display: block
    cursor: pointer
    width: 100%
  .ftext-add
    display: block
    padding-top: 30px