.hsix
  width: 100%
  height: 600px
.six1
  padding-top: 80px
.six2
  width: 80%
  height: 500px
  margin: 80px 10%
.six3
  float: left
  width:45%
  margin: 0 2.5%
.pd
  width: 100%
  cursor: pointer
  border-radius: 3px
.pd:hover
  box-shadow: 8px 10px 20px rgba(0,0,0,.1)
  transform: scale(1.1)
  transition: all .3s ease-in-out